.venv/
venv/
ENV/
env/
__pycache__
.debug/
.backup/
.claude/
helpers/__pycache__
analyze/sentiment/benchmark_sentiment.ipynb
analyze/sentiment/fix_stemming.ipynb
analyze/sentiment/news_preprocessing.ipynb
analyze/sentiment/preprocessing_gemini.ipynb
analyze/sna/
analyze/kamus_normalize.csv
auth/
result/
tools/merge_tweets_csv.py
tools/merge_users_csv.py
graphql_observe
facebook_observe